<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <job>
        <processor method="SetPriority">
          <patch:attribute name="type" value="Sitecore.Support.Jobs.JobRunner, Sitecore.Support.181026" />
        </processor>        
      </job>
    </pipelines>
  </sitecore>
</configuration>